# COVIDvu - US County Data Comparison (2 Sources) <img src='../resources/American-flag.png' align = 'right'>

Ticket #0364 requires a comparison of two sets of data for US COVID-19 Reporting. This is data from CSBS.org and
NY Times. The following information is needed:

1. Number of counties reported in each data set for the time when you analyze them
2. Statistical differences in the total (which is greater?)
3. Per county comparison
4. Per state comparison

---
# County Totals

### Clone the NY Times Data Repo

COVIDvu is poised to use the CSBS data (API available) for US reporting of confirmed cases, however another source was found
where the NY Times is gathering similar data and providing that via Github repo and CSV formatted files. This data is not updated but cummulative (i.e. ever-growing). The CSBS data is JSON and maintains updated data (current date).

In [24]:
%%bash
if [ -d "./covid-19-data" ]
then
  echo "Directory ./covid-19-data exists."
else
  git clone https://github.com/nytimes/covid-19-data.git
fi

Directory ./covid-19-data exists.

### Clone the CSBS Data API Repo (Reference)

In [25]:
%%bash
if [ -d "./coronavirus-tracker-api" ]
then
  echo "Directory ./coronavirus-tracker-api exists."
else
  git clone https://github.com/ExpDev07/coronavirus-tracker-api.git
fi

Directory ./coronavirus-tracker-api exists.

---
# Strategy

To obtain the data required for our analysis, we should get the snapshots (same date) into similar data structures (JSON). 
The NYTimes data is by day and ever-growing. The CSBS API data is near real-time. These differences make it difficult to 
provide an accurate analysis until both sets of data take the same form. First-take on structure would include county, state
(province), cases, and deaths. Date meanings may be very different if not even comparable. Max-cases reported has more meaning.

### DataFrame NYTimes (All Rows)

This is the entire dataset with the fips column removed for clarity. Ultimately the date column will be removed as it
is not really needed for our comparison of near-realtime data.

In [26]:
import json 
import numpy as np
import pandas as pd 
from pandas import json_normalize #package for flattening json in pandas df

nytimes = pd.read_csv ('covid-19-data/us-counties.csv', index_col=False)
nytimes[['date','county','state','cases','deaths']]

             date      county       state  cases  deaths
0      2020-01-21   Snohomish  Washington      1       0
1      2020-01-22   Snohomish  Washington      1       0
2      2020-01-23   Snohomish  Washington      1       0
3      2020-01-24        Cook    Illinois      1       0
4      2020-01-24   Snohomish  Washington      1       0
...           ...         ...         ...    ...     ...
19708  2020-03-29    Sheridan     Wyoming      6       0
19709  2020-03-29    Sublette     Wyoming      1       0
19710  2020-03-29  Sweetwater     Wyoming      1       0
19711  2020-03-29       Teton     Wyoming     14       0
19712  2020-03-29    Washakie     Wyoming      1       0

[19713 rows x 5 columns]

### DataFrame CSBS (All Rows)

Before we can render our CSBS dataframe, we need to pull the data locally via API into a JSON file. This is done here:

In [27]:
%%bash
export COUNTY_CASES_US_ENDPOINT="https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs&timelines=0"
echo "request county data from CSBS API at $COUNTY_CASES_US_ENDPOINT"

curl -s "$COUNTY_CASES_US_ENDPOINT" | jq -M '.locations' > "countyraid-csbs.json"

request county data from CSBS API at https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs&timelines=0

In [28]:
#load json object
with open('countyraid-csbs.json') as f:
    d = json.load(f)

#lets put the data into a pandas df
csbs = json_normalize(d)
csbs.rename(columns={'last_updated':'date','province':'state', 'latest.confirmed':'cases', 'latest.deaths':'deaths'}, inplace=True)
csbs['date'] = pd.to_datetime(csbs['date']).dt.date
csbs.drop_duplicates(subset=['county','state','cases'], keep='last', inplace=True)

csbs[['date','county','state','cases','deaths']]

            date       county         state  cases  deaths
0     2020-03-30     New York      New York  36221     790
1     2020-03-30  Westchester      New York   8519      10
2     2020-03-30       Nassau      New York   6445      39
3     2020-03-30      Suffolk      New York   5023      40
4     2020-03-30     Rockland      New York   2209       8
...          ...          ...           ...    ...     ...
2021  2020-03-30       Finney        Kansas      1       0
2022  2020-03-30       Saline        Kansas      1       0
2023  2020-03-30         York      Nebraska      1       0
2024  2020-03-30        Butte  South Dakota      1       0
2025  2020-03-30     Marshall  South Dakota      1       0

[2026 rows x 5 columns]

In [29]:
#csbs = csbs.loc[csbs['state'] == 'North Carolina']
csbs['of_total_state'] = csbs['cases'].sum()
csbs.sort_values(by=['county'], inplace = True)
csbs[['date','county','state','cases','deaths','of_total_state']]
csbs.to_csv('nc_cases.csv')

### DataFrame NYTimes (Unique Counties)

In [30]:
nytimes.sort_values(by=['state', 'county', 'date'], inplace = True)
nytimes.drop_duplicates(subset=['county','state'], keep='last', inplace=True)
nytimes[['date','county','state','cases','deaths']]

             date      county    state  cases  deaths
17730  2020-03-29     Autauga  Alabama      6       0
17731  2020-03-29     Baldwin  Alabama     15       0
17732  2020-03-29      Blount  Alabama      5       0
17733  2020-03-29     Bullock  Alabama      3       0
17734  2020-03-29      Butler  Alabama      1       0
...           ...         ...      ...    ...     ...
19708  2020-03-29    Sheridan  Wyoming      6       0
19709  2020-03-29    Sublette  Wyoming      1       0
19710  2020-03-29  Sweetwater  Wyoming      1       0
19711  2020-03-29       Teton  Wyoming     14       0
19712  2020-03-29    Washakie  Wyoming      1       0

[1992 rows x 5 columns]

---
# Per County Comparison

In [31]:
nytimes['county'].isin(csbs['county']).value_counts()

True     1909
False      83
Name: county, dtype: int64

In [32]:
c_compare = pd.merge(nytimes, csbs, on=['state','county'], how='inner')
c_compare.sort_values(by=['state','county'], inplace = True)
c_compare.rename(columns={'cases_x':'cases_nytimes','cases_y':'cases_csbs'}, inplace=True)
c_compare['match?'] = np.where(c_compare['cases_nytimes'] == c_compare['cases_csbs'], 'True', 'False')
c_compare['positive?'] = np.where(c_compare['cases_nytimes'] > c_compare['cases_csbs'], 'True', 'False')
c_compare['negative?'] = np.where(c_compare['cases_nytimes'] < c_compare['cases_csbs'], 'True', 'False')
c_compare[['county','state','cases_nytimes','cases_csbs','match?','positive?','negative?']]
#c_compare.to_csv('countyraid-county-compare.csv')

,county,state,cases_nytimes,cases_csbs,match?,positive?,negative?
0,Autauga,Alabama,6,6,True,False,False
1,Baldwin,Alabama,15,15,True,False,False
2,Blount,Alabama,5,5,True,False,False
3,Bullock,Alabama,3,3,True,False,False
4,Butler,Alabama,1,1,True,False,False
...,...,...,...,...,...,...,...
1892,Sheridan,Wyoming,6,6,True,False,False
1893,Sublette,Wyoming,1,1,True,False,False
1894,Sweetwater,Wyoming,1,1,True,False,False
1895,Teton,Wyoming,14,14,True,False,False
1896,Washakie,Wyoming,1,1,True,False,False

### Percentage that CSBS has more reported cases

In [33]:
c_compare['negative?'].value_counts(normalize=True) * 100

False    72.746442
True     27.253558
Name: negative?, dtype: float64

E.g. The false percentage means that CSBS numbers are always higher this percent of the time

---
# Per State Comparison

In [34]:
nytimes['state'].isin(csbs['state']).value_counts()

True     1991
False       1
Name: state, dtype: int64

In [60]:
s_compare = pd.merge(nytimes, csbs, on=['state','county'], how='inner')
s_compare.sort_values(by=['state','cases_y'], inplace = True)
s_compare.rename(columns={'cases_x':'cases_nytimes','cases_y':'cases_csbs'}, inplace=True)

#s_compare.size
s_compare = s_compare.groupby(['state'])[['cases_nytimes','cases_csbs']].sum()

s_compare['match?'] = np.where(s_compare['cases_nytimes'] == s_compare['cases_csbs'], 'True', 'False')
s_compare['positive?'] = np.where(s_compare['cases_nytimes'] > s_compare['cases_csbs'], 'True', 'False')
s_compare['negative?'] = np.where(s_compare['cases_nytimes'] < s_compare['cases_csbs'], 'True', 'False')

s_compare

                      cases_nytimes  cases_csbs match? positive? negative?
state
Alabama                         830         830   True     False     False
Alaska                           59          53  False      True     False
Arizona                         930        1156  False     False      True
Arkansas                        444         416  False      True     False
California                     6321        6437  False     False      True
Colorado                       2129        2125  False      True     False
Connecticut                    1993        1993   True     False     False
Delaware                        232         232   True     False     False
District of Columbia            342         401  False     False      True
Florida                        4936        5465  False     False      True
Georgia                        2457        2636  False     False      True
Hawaii                          163         167  False     False      True
Idaho                           310         324  False     False      True
Illinois                       4611        4584  False      True     False
Indiana                        1513        1785  False     False      True
Iowa                            336         418  False     False      True
Kansas                          332         356  False     False      True
Kentucky                        375         423  False     False      True
Louisiana                      3530        4009  False     False      True
Maine                           248         270  False     False      True
Maryland                       1115        1261  False     False      True
Massachusetts                  4487        4487   True     False     False
Michigan                       5397        3851  False      True     False
Minnesota                       489         488  False      True     False
Mississippi                     759         758  False      True     False
Missouri                        800         817  False     False      True
Montana                         161         171  False     False      True
Nebraska                        138         142  False     False      True
Nevada                          651         651   True     False     False
New Hampshire                   258         258   True     False     False
New Jersey                    10366       12789  False     False      True
New Mexico                      220         220   True     False     False
New York                      25798       26001  False     False      True
North Carolina                 1167        1272  False     False      True
North Dakota                     98         106  False     False      True
Ohio                           1665        1929  False     False      True
Oklahoma                        429         478  False     False      True
Oregon                          549         549   True     False     False
Pennsylvania                   3441        4089  False     False      True
Rhode Island                    225         237  False     False      True
South Carolina                  775         774  False      True     False
South Dakota                     90          99  False     False      True
Tennessee                      1377        1549  False     False      True
Texas                          2191        2425  False     False      True
Utah                            678         666  False      True     False
Vermont                         228         228   True     False     False
Virginia                        686         782  False     False      True
Washington                     4634        4632  False      True     False
West Virginia                   124         124   True     False     False
Wisconsin                      1120        1164  False     False      True
Wyoming                          87          87   True     False     False

### Percentage that CSBS has more reported cases

In [36]:
s_compare['negative?'].value_counts(normalize=True) * 100

False    72.746442
True     27.253558
Name: negative?, dtype: float64

E.g. The false percentage means that CSBS numbers are always higher this percent of the time